*, *:before, *:after {
    box-sizing: border-box;
}

body {
    position: relative;
    font-size: 62.5%;
}

p {
    font-size: 1.8em;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

h1 {
    font-size: 2.8em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 2em;
}